@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";
body {
  font-family: "Space Mono", monospace;
  background-image: url("../bg4.svg");
  color: var(--font-col);
}

:root {
  --primary: #85193c;
  --secondary: #c5172e;
  --secondary-second: #ffa500;
  --secondary-third: #ffb74d;
  --tertiary: #fcf259;
  --font-col: #cac0be;
}
.link_card {
  @apply p-3 flex justify-start items-center flex-row cursor-pointer;
}
.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(197,23,46,1)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.text-outline {
  -webkit-text-stroke: 1px #a69d9a;
}
.text-gradient {
  background: linear-gradient(
    to right,
    var(--tertiary),
    var(--secondary-second)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
